/* สำหรับภาพพื้นฐาน */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}

/* จัดตำแหน่ง canvas ให้อยู่ตรงกลาง */
#pixelCanvas {
  width: 320px;
  height: 320px;
  border: 1px solid black;
  image-rendering: pixelated;
  margin-bottom: 60px;  /* ให้มีระยะห่างจากปุ่ม */
}

/* ปรับปุ่มให้อยู่ตรงกลางด้านล่าง */
#toggleButton {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#toggleButton:hover {
  background-color: #45a049;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: white;
  }

  #pixelCanvas {
    border: 1px solid #333;
  }

  #toggleButton {
    background-color: #333;
    color: white;
  }

  #toggleButton:hover {
    background-color: #444;
  }
}

a {
  color: orange;
  text-decoration: none; /* Removes underline */
}

/* Change the link color on hover */
a:hover {
  color: darkorange; /* Darker shade on hover */
}


#about {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 20px;
  color: #f1f1f1;
}

#about h2 {
  color: #4CAF50;
  text-align: center;
  margin-bottom: 15px;
}

#about p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}

#about p:last-child {
  margin-bottom: 0;
}


#How {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 20px;
  color: #f1f1f1;
}

#How h2 {
  color: #4CAF50;
  text-align: center;
  margin-bottom: 15px;
}

#How p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}

#about p:last-child {
  margin-bottom: 0;
}


#title-container {
  position: fixed; /* ทำให้ตำแหน่งไม่เปลี่ยนแปลงเมื่อเลื่อนหน้าจอ */
  top: 0; /* ให้เริ่มจากขอบบน */
  left: 50%; /* ให้อยู่กลางแนวนอน */
  transform: translateX(-50%); /* ปรับตำแหน่งให้อยู่กลางจริงๆ */
  font-size: 48px; /* ขนาดตัวอักษร */
  font-weight: bold; /* ทำให้ตัวอักษรหนา */
  font-style: oblique;
  z-index: 1000; /* ให้มั่นใจว่าตัวอักษรจะอยู่บนสุด */
  padding: 10px; /* เพิ่มระยะห่างจากขอบ */
  background-color: rgba(0, 0, 0, 0); /* เพิ่มพื้นหลังโปร่งใสเพื่อให้ข้อความเด่นขึ้น */
  color: white; /* สีตัวอักษร */
  font-family: 'Press Start 2P', cursive;
}

#pupffle-pixel {
  font-weight: bold;
  display: inline-block;
  transition: color 0s ease; /* Transition effect for smooth color change */
}
